<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

	<tx:annotation-driven/>
	
	<bean id="persistenceExceptionTranslationPostProcessor"
      class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
	
	<!-- This is a bean profile which can override items in the WebSphere profile for Tomcat like application servers. --> 
	<!-- To activate this profile add -Dspring.profiles.active="tomcat" to your server startup, do not change the default profile setting in the web.xml -->
	<beans profile="tomcat">
		<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager" p:entityManagerFactory-ref="entityManagerFactory" />
		    <bean id="dataSource" destroy-method="close" class="com.mysql.jdbc.Driver">  
		     <property name="driverClassName" value="com.mysql.jdbc.Driver" /> 
		     <property name="url" value="jdbc:mysql:/69.164.210.232:3306:Newdb" /> 
		     <property name="username" value="god" /> 
		     <property name="password" value="wizards1" /> 
		     <property name="maxActive" value="10" /> 
		     <property name="maxIdle" value="1" /> 
		     <property name="maxWait" value="1000" /> 
		     <property name="defaultAutoCommit" value="true" /> 
		     <property name="poolPreparedStatements" value="true" /> 
		     <property name="maxOpenPreparedStatements" value="100" /> 
		     <property name="validationQuery" value="SELECT 1 from DUAL"/> 
		   </bean>  
	</beans>	
</beans>
