<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
		</layout>
	</appender>
	
	<appender name="logFile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/AngularJs/JavaApps/java.log"/>
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="2MB"/>
		<param name="MaxBackupIndex" value="3"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
		</layout>
	</appender>
	
	<!-- Logger for WebTier -->
	<logger name="javaAPI.java">
		<level value="info"/>
	</logger>
	
	<!-- Enables full hibernate tracing 	
	<logger name="org.hibernate.type">
		<level	value="TRACE"/>
	</logger>-->
	
	<root>
		<priority value="info" />
		<appender-ref ref="console" />
		<appender-ref ref="logFile"/>
	</root>
	

</log4j:configuration>
